body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
}

.buttons {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 2vw;
}

.gap {
  display: flex;
  gap: 20px;
}

.bg-dark {
  width: 100%;
  background-color: #2C3131;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.bg-dark h2 {
  color: white;
}

button {
  transition: background-color 100ms linear,
              border 100ms linear,
              color 100ms ease,
              box-shadow 100ms linear;

  border: none;
  cursor: pointer;
}

.button-one button {
  width: 120px;
  height: 50px;

  font-size: 16px;
  color: white;
  background-color: #017187;

  border-radius: 8px;
}

.button-one .normal:hover {
  background-color: #67AAB7;
}

.button-one .normal-disabled {
  color: #A9A9A9;

  background-color: #E9E9E9;
  border: 2px solid #CACACA;
  cursor: no-drop;
}

.button-one .transparent {
  border: 2px solid #017187;
  background-color: transparent;
  color: #017187;
}

.button-one .transparent:hover {
  border: 2px solid #67AAB7;
  background-color: transparent;
  color: #67AAB7;
}

.button-one .transparent-disabled {
  border: 2px solid #CACACA;
  background-color: transparent;
  color: #CACACA;
  cursor: no-drop;
}

/* Second set of buttons */

.button-two button {
  width: 140px;
  height: 35px;
  font-weight: 600;
  border-radius: 50px;
}

.button-two .primary.normal {
  background-color: #F43F5E;
  color: white;
}

.button-two .primary.normal-disabled {
  background-color: #E5E7EB;
  color: #9CA3AF;
  cursor: no-drop;
}

.button-two .primary.transparent {
  background-color: transparent;
  border: 2px solid #F43F5E;
  color: #F43F5E;

}

.button-two .primary.transparent-disabled {
  border: 1px solid #E5E7EB;
  background-color: transparent;
  color: #E5E7EB;
  cursor: no-drop;
}

.button-two .primary.normal:hover {
  background-color: #9F1239;
}

.button-two .primary.transparent:hover {
  border: 4px solid #FDA4AF;
  border: 2px solid #9F1239;
}

.button-two .secondary.normal {
  background-color: #0EA5E9;
  color: white;
}

.button-two .secondary.normal-disabled {
  background-color: #E5E7EB;
  color: #9CA3AF;
  cursor: no-drop;
}

.button-two .secondary.transparent {
  background-color: transparent;
  color: #0EA5E9;
  border: 2px solid #0EA5E9;
}

.button-two .secondary.transparent-disabled {
  background-color: transparent;
  color: #E5E7EB;
  border: 1px solid #E5E7EB;
  cursor: no-drop;
}

.button-two .secondary.normal:hover {
  background-color: #075985;
}

.button-two .secondary.transparent:hover {
  border: 2px solid #075985;
  color: #075985;
}

/* Third set of buttons */

.button-three button.normal {
  color: white;
  width: 135px;
  height: 55px;
  font-weight: 900;
  font-size: 16px;
  border-radius: 50px;
  background-color: #FFD159;
  box-shadow: 0px 14px 23px rgba(28, 37, 44, 0.08);
}

.button-three button.normal.enabled:hover {
  background: transparent;
  border: 1px solid #FFD159;
  color: #FFD159;
}

.button-three button.normal.disabled {
  background-color: #F1EBF5;
  color: #AEA8B2;
  cursor: no-drop;
}

.button-three .subscribe {
  background-color: transparent;
  border: 1.5px solid #5C6BC0;
  color: #5C6BC0;
  border-radius: 5px;
  width: 135px;
  height: 40px;
}

.button-three .subscribe.enabled:hover {
  background-color: #5C6BC0;
  color: white;
}

.button-three .subscribe.disabled {
  cursor: no-drop;
  border: 1px solid #C0C7E6;
  color: #C0C7E6;
}

/* Fourth set of buttons */

.button-four button.normal {
  width: 105px;
  height: 35px;
  border: none;

  color: white;
  background-color: #009688;

  box-shadow: 0px 3px 3px rgba(28, 37, 44, 0.1);
  border-radius: 3px;
  font-weight: 500;
}

.button-four button.normal.enabled:hover {
  box-shadow: 1px 8px 8px rgba(28, 37, 44, 0.1);
}

.button-four button.normal.disabled {
  color: #00000061;
  background-color: #4F4F4F42;
  cursor: no-drop;
}

.button-four button.round {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  font-size: 25px;
  color: white;
  background-color: #009688;
  box-shadow: 0px 8px 4px rgba(28, 37, 44, 0.1);
}

.button-four button.round.enabled:hover {
  box-shadow: 0px 10px 4px rgba(28, 37, 44, 0.1);
}

.button-four button.round.disabled {
  background-color: #E5E7EB;
  cursor: no-drop;
  box-shadow: none;
}

/* Fifth set of buttons */

.button-five button.nobg {
  background: none;
  font-size: 16px;
  width: 80px
}

.button-five button.nobg.enabled:hover {
  color: #56CCF2;
}

.button-five button.nobg.disabled {
  color: #1C345442;
  cursor: no-drop;
}

.button-five button.normal {
  width: 140px;
  height: 40px;
  border-radius: 6px;

  background-color: #97144D;
  color: white;
}

.button-five button.normal.enabled:hover {
  background-color: #ED1164;
}

.button-five button.normal.disabled {
  background-color: #B4B4B4;
  cursor: no-drop;
}

/* Sixth set of buttons */

.button-six button.primary {
  width: 180px;
  height: 50px;
  border-radius: 4px;
  border: 2px solid #15499F;
  background-color: transparent;
  font-size: 16px;
  color: white;
}

.button-six button.primary.enabled:hover {
  border: 4px solid #246CE2;
}

.button-six button.primary.enabled:active {
  border: none;
  background-color: #0B2550;
}

.button-six button.primary.disabled {
  background-color: #A9A9A9;
  border: none;
  cursor: no-drop;
}

.button-six button.secondary {
  width: 180px;
  height: 40px;
  border-radius: 5px;
  background-color: #F2F2F2;
  font-weight: 600;
}

.button-six button.secondary.enabled:active {
  background-color: #828282;
  color: #000000;
}

.button-six button.secondary.disabled {
  background-color: #828282;
  color: #000000;
  cursor: no-drop;
}

/* Toasts */

.toasts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #404040;

  min-width: 296px;
  max-width: 500px;
  min-height: 44px;
  border-radius: 4px;
  padding: 0 10px 0 15px;
  box-shadow: 0 1px 5px #F1F1F1;
  color: white;
  transition: bottom 0.5s ease;
}

.toast.hide {
  display: none;
  position: fixed;
  left: 50%;
  bottom: -100px;
  transform: translateX(-50%);
}

.toast.show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 30px;
}

.toast p {
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding-right: 5px;
}

.toast button {
  color: white;
  background: none;
  font-size: 18px;
}

.ghost {
  background-color: transparent !important;
  border: 1px solid #F1F1F1;
}

.ghost button {
  color: #9D9D9D;
}

.toast.success {
  background-color: #1FC24E;
}

.toast.success.ghost {
  background-color: transparent;
  color: #1FC24E;
}


.toast.info {
  background-color: #145599;
}

.info.ghost {
  color: #145599;
}

.toast.error {
  background-color: #FF2121;
}

.toast.error {
  background-color: #FF2121;
}

.error.ghost {
  color: #FF2121;
}

.toast.warning {
  background-color: #F17F22;
}

.warning.ghost {
  color: #F17F22;
}
